- @artist.albums.each do |album|
  %ul
    %h3
      = link_to image_tag("play16.png"), :controller=>"stream", :action=>"album", :id=>album.id
      = album.name
    %ul.tracks
      - album.sorted_tracks.each do |track|
        %li
          = "#{track.number}." unless track.number.blank?
          = link_to_track(track.title_with_artist_if_needed, track)
