%center
  %h1 ... Everything! (by Artist) ...


#browser{ :style => "font-family: Tahoma" }
  - @artists.each do |artist|
    %h2
      = link_to image_tag("play24.png"), :controller=>"stream", :action=>"artist", :id=>artist.id
      = artist.name
    - artist.albums.each do |album|
      %ul
        %h3
          = link_to image_tag("play16.png"), :controller=>"stream", :action=>"album", :id=>album.id
          = album.name
        %ul
          - album.tracks.each do |track|
            == #{track.number}.
            = link_to_track(track.title, track)


