- content_for :head do
  = javascript_include_tag 'lixel-tooltips'
  
#content
  %h1 Browse (grouped by Artist)

  #browser{ :style => "font-family: Tahoma" }

    - @artists.each_with_index do |artist,i|
      %div{:class=>"alternating#{i%2}", :id=>"#{artist.html_id}"}
        .artist-name
          / = link_to image_tag("play16.png", :class=>"playbutton"), :controller=>"stream", :action=>"artist", :id=>"#{artist.id}.m3u"
          = link_to image_tag("play16.png", :class=>"playbutton"), :controller=>"stream", :action=>"artist", :id=>"#{artist.id}.xspf"
          = link_to_function artist.name, "expand_artist(#{artist.id});"
          
        - for album in artist.albums
          %span.cd-icon{:onmouseover=>"tooltip('#{album.nice_name.escape_single_quotes}');", :onmouseout=>"exit();", :onclick=>"play_album(#{album.id});"}

        %div{:style=>"clear:both;"}
              
        %div{ :id=>"#{artist.html_id}_albums", :class=>"expandable", :style=>"display:none;" }
      

#right
  #randomalbums
    = render :partial => "layouts/random_albums" 

  %h3 Help?
  %p.help
    %p All the artists! Sweet!

    %p Click artist names to show/hide their albums.
  
    %p Click the <img src="/images/cd.gif">'s to Quick-Play(tm) albums.

    %p Click <img src="/images/play16.png"> to play whatever is to the right of it.

