!!!
%html
  %head
    = javascript_include_tag :defaults
    = stylesheet_link_tag "simple", "scaffold"
    = active_scaffold_includes

  %body

    .loginbar
      administrator

    .linkbar
      %b= link_to "< back!", "/"
      = link_to "commands", admin_commands_url
      = link_to "sources", admin_sources_url
      = link_to "users", admin_users_url

    .content
      = yield


