%head

  %title= "ezELF :: #{request.env["PATH_INFO"]}"

  = javascript_include_tag 'prototype', 'application', 'effects'#, 'controls'
  = stylesheet_link_tag "beast"
  = stylesheet_link_tag "extra"

  %link{:rel=>"SHORTCUT ICON", :href=>"/favicon.ico"}

%body
  #header= render :partial=>"layouts/header"

  #container= @content_for_layout

  #footer= render :partial=>"layouts/footer"
