!!! 1.1
%html
  
  %head
  
    %title= "ezELF :: #{request.env["PATH_INFO"]}"
  
    = %{<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">}
    - if @jquery
      = js 'jquery-1.4.2.min'
    - else
      = js 'prototype', 'effects', 'application' #, 'controls'
      
    = css "beast", "extra"
  
    %link{:rel=>"SHORTCUT ICON", :href=>"/favicon.ico"}

    = yield :header

    = @content_for_head
  
  %body
    #header= render :partial=>"layouts/header"
  
    #container= @content_for_layout
  
    #footer= render :partial=>"layouts/footer"
  
